.features {
  // Sets the grid column to be centered within the grid container.
  // The column starts at the center-start line and ends at the center-end line.
  grid-column: center-start / center-end;

  margin: 15rem 0;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 6rem;
}
