.story {
  &__pictures {
    background-color: $color-primary;
    // Sets the grid column property to span from the first column line to the fourth column line.
    grid-column: full-start / col-end 4;
  }

  &__content {
    background-color: $color-grey-light-1;
    // Sets the grid column to start at the 5th column and span until the end of the grid.
    grid-column: col-start 5 / full-end;

    padding: 6rem 8vw;

    /*
    display: grid;
    align-content: center;
    justify-item: start;
    */

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  &__text {
    font-size: 1.5rem;
    font-style: italic;
    margin-bottom: 4rem;
  }
}
